body, h2, p{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
}

#header{
    background-color: aqua;
    border-bottom: 1px solid black;
    height: 80px;
}
#menu{
    background-color: aquamarine;
    float: left;
    width: 150px;
}
#main{
    background-color: bisque;
    border-left: 1px solid black;
    margin-left: 150px;
    padding: 10px;
}
#footer{
    border-top: 1px solid black;
    background-color: rgb(147, 151, 85);
}
#wrapper{
    background-color: aquamarine;
}